.search-window {
  position: fixed; /* or absolute */
  top: 25%;
  //bottom: 25%;
  left: 25%;
  right: 25%;
  margin: auto;
  padding: 20px;
  background: #3a3938;
    }

input#search-text, textarea {
  color: #dce7ea;
}
p#result{
  word-wrap: break-word;
}
p#result, textarea{
  color: #dce7ea;
}
